<!doctype html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <link href="css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="http://www.favicon.co.uk/ico/4136.png">
  </head>

  <body>
    <header>
      <h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" alt="" height=25 width=25>
        <%= @title %>
        <img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" alt="" height=25 width=25></h1>
    </header>

    <%= yield %>

    <footer>
      <table>
        <tr>
          <% @footer_values.each do |description, site| %>
            <td><a href=<%= site %>><%= description %></a></td>
            <% end %>
      </table>
        <p class="copyright">&copy; <%= Time.now.year %> Ricky Lee</p>
    </footer>
  </body>

</html>
